/**{*/
/*  margin: 0 auto;*/
/*  padding: 0;*/
/*}*/
/*table{*/
/*  margin-top: 50px;*/
/*  width: 30%;*/
/*  height: 400px;*/
/*  border : 1px solid black;*/
/*}*/
/*table tr th input{*/
/*  border : 1px solid black;*/
/*  outline: none;*/
/*  text-align: right;*/
/*}*/
/*th input{*/
/*  width: 400px;*/
/*  height: 70px;*/
/*}*/
/*td input{*/
/*  margin: 0 auto;*/
/*  width: 80px;*/
/*  height: 40px;*/
/*}*/
body{
  font-family: Roboto;
  background: #373B44;
  background: -webkit-linear-gradient(to right, #4286f4, #373B44);
  background: linear-gradient(to right, #4286f4, #373B44);
}
#may_tinh{
  width:320px;
  height:520px;
  background-color: #eaedef;
  top:20px;
  margin:0 auto;
  position:relative;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#ket_qua{
  height: 120px;
}
#ket_qua_cu{
  text-align: right;
  height:20px;
  margin:0 20px;
  padding-top:20px;
  font-size:15px;
  color:#919191;
}
#xuat_ket_qua {
  text-align: right;
  height:60px;
  margin: 10px 20px;
  font-size: 30px;
}
#ban_phim{
  height: 400px;
}
.he_thong, .con_so {
  width:60px;
  height:50px;
  margin: 10px;
  float:left;
  border-radius: 10%;
  border-width: 0;
  font-weight:bold;
  font-size:16px;
}
.con_so,button:nth-child(19),button:nth-child(18){
  background-color: darkgray;
}
.he_thong, .con_so{
  cursor: pointer;
}
.he_thong:active, .con_so:active {
  font-size: 13px;
}
.he_thong:focus, .con_so:focus{
  outline: 0;
}
button:nth-child(20),button:nth-child(16),button:nth-child(12),button:nth-child(8),button:nth-child(4),button:nth-child(3),button:nth-child(2),button:nth-child(1) {
  font-size: 20px;
  background-color: #20b2aa;
}
