*{
  margin: 0 auto;
  padding: 0;
}
.top_menu{
  width: 1200px;
}
.top_menu ul{
  list-style-type: none;
  position: relative;
}
.top_menu ul li{
  background-color: #008081;
  width: 150px;
  float: left;
  text-align: center;
  font-size: 16px;
  padding: 14px 0px;
}
.top_menu ul li a{
  color: white;
  text-decoration: none;
}
.top_menu ul ul {
  display: none;
  position: absolute;
  top: 100%;
}
.top_menu ul ul li{
  float: none;
}
.top_menu ul ul ul {
  display: none;
  position: absolute;
  top:50%;
  left: 100%;
}
.top_menu ul ul li  li{
  float: right;
}
.top_menu ul li:hover>ul{
   background-color: #008001;
   color: white;
  display: block;
 }
.top_menu ul ul li:hover>li ul ul{
  background-color: #008001;
  color: white;
  display: block;
}
.top_menu li:hover{
  background-color: #008001;
  color: white;
}
.top_menu > ul::after{
  content: "";
  display: block;
  clear: both;
}
