*{
  margin: 0 auto;
  padding: 0;
}
body{
  background-color: darkgrey;
}
h1
{
  text-align: center;
}
.tong1{
  background-color: white;
  width: 400px;
  margin: auto;
  border-style : outset ;
  border-radius: 5px;
  padding: 50px 200px;
}
p{
  font-size: 20px;
}
label{
  font-size: 20px;
}
