*{
  margin: 0 auto;
  padding: 0;
}
body{
  width: 800px;
  margin: 20px;
}
.tong1, .tong2{
  float: left;
  width: 45%;
}
h2{
  margin: 20px;
}
.dangnhap, .dang_ky{
  margin-left: 20px;
  border: 2px solid darkgray;
  width: 90%;
  padding: 10px;
}
#txt_left{
  float: left;
  width: 45%;
}
#last_name, #first_name{
  width: 90%;
}

#txt_right{
  float: left;
  width: 45%;
  margin-left: 20px ;
}
p{
  font-size: 12px;
  margin-bottom: 20px;
}
input{
  width: 90%;
  height: 20px;
}
input[type=button]{
  width: 40%;
  height: 30px;
}
input[type=checkbox]{
  width: 5%;
  height: 15px;
}
