body{
  background-color: red;
}
@media screen and (max-width: 1000px){
  body{
    background-color: red;
  }
}
@media screen and (max-width: 800px){
  body{
    background-color: blue;
  }
}
@media screen and (max-width: 750px){
  body{
    background-color: #ffffff;
  }
}
@media screen and (max-width: 650px){
  body{
    background-color: greenyellow;
  }
}

